<!DOCTYPE html>
<html>
<head>
    <title>New product</title>
    <link rel="stylesheet" href="/public/css/products.css">
    <link rel="stylesheet" href="/public/css/header.css">
</head>
<body>
    <%- include("header") %>
    <main class="new-product-container">
        <h1>New product</h1>
        <form action="/products/new" method="post">
            <div class="input-container">
                <label for="productName">Name</label>
                <input type="text" name="productName" id="productName" required>
            </div>
            <div class="input-container">
                <label for="description">Description</label>
                <input type="text" name="description" id="description" required>
            </div>
            <div class="input-container">
                <label for="price">Price</label>
                <input type="text" name="price" id="price" required>
            </div>
            <div class="input-container">
                <label for="imgUrl">Image (URL)</label>
                <input type="text" name="imgUrl" id="imgUrl" required>
            </div>
            <div class="input-container">
                <label for="quantity">Quantity</label>
                <input type="text" name="quantity" id="quantity" required>
            </div>
            <div class="input-container">
                <label for="typeClothes">Type</label>
                <select name="typeClothes" id="typeClothes" required>
                    <% allTypeClothes.forEach((type)=> { %>
                        <option value="<%= type.id %>">
                            <%= type.type_name %>
                        </option>
                        <% }) %>
                </select>
            </div>
            <div class="input-container">
                <label for="brand">Brand</label>
                <select name="brand" id="brand" required>
                    <% allBrands.forEach((type) => { %>
                        <option value="<%= type.id %>"><%= type.brand_name %></option>
                   <% }) %>
                </select>
            </div>
            <button type="submit">Create product</button>
        </form>
    </main>

</body>
</html>