<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    <link rel="stylesheet" href="/public/css/products.css">
    <link rel="stylesheet" href="/public/css/header.css">
</head>
<body>
    <%- include("header") %>
    <main>
        <h1><%= title %></h1>
        <a href="/products/new">Add a product</a>
        <ul class="products-container">
        <% products.forEach((product) => { %>
            <a href="/products/product/<%= product.id %>" class="product-card">
                <img src="<%= product.image_url %>" alt="product-picture">
                <div class="product-card_text">
                    <h5>
                        <%= product.product_name %>
                    </h5>
                    <p>$<%= product.price %>
                    </p>
                </div>
            </a>
        <% }) %>
        </ul>
    </main>
</body>
</html>